@using FA.Domain.Enumerations
@using System.Security.Claims
@using WebApp.Controllers
@using WebApp.Services
@inject AuthorizerService authorizerService
@model FA.Application.Dtos.Blogs.ResponseBlogDto

@{
    ViewData["Title"] = "Blog Details";
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Real Content -->
            <div>
                <h4>DetailBlogDto</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UpdatedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                </dl>
            </div>
            <div>
                @if (authorizerService.HasPermission(User.FindFirst(ClaimTypes.Role)?.Value, ModuleAction.UpdateBlog))
                {
                    @Html.ActionLink("\u270E", nameof(BlogController.Edit), new { id = Model.Id })
                }

                @if (authorizerService.HasPermission(User.FindFirst(ClaimTypes.Role)?.Value, ModuleAction.DeleteBlog))
                {
                    @Html.ActionLink("\u274C", nameof(BlogController.Delete), new { id = Model.Id })
                }
                <a asp-action="Index">Back to List</a>
            </div>
            <!-- End of Real Content -->

        </div>
    </div>
</div>

