@using FA.Application.Dtos.BaseDtos
@using FA.Application.Dtos.Users
@using System.Security.Claims
@using FA.Domain.Enumerations
@using WebApp.Controllers
@using WebApp.Services
@model PageResultDto<UserIndexDto>
@inject AuthorizerService authorizerService
@{
    ViewData["Title"] = "Index";
}

<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Users</h1>
                    <span class="subheading">Here you can find all the users in the website.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Real Content-->
            @if (authorizerService.HasPermission(ModuleAction.CreateUser))
            {
                <a asp-controller="@nameof(UserController)[..^10]"
                   asp-action="@nameof(UserController.Create)"
                   class="btn btn-success text-uppercase">
                    New
                </a>
            }

            @foreach (var item in Model.Items)
            {
                <div class="post-preview">
                    <a asp-controller="@nameof(UserController)[..^10]"
                       asp-action="@nameof(UserController.Details)"
                       asp-route-id="@item.Id">
                        <h2 class="post-title">@item.Username</h2>
                        <h3 class="post-subtitle">@item.Role</h3>
                    </a>
                    <p class="post-meta m-0">@item.Email</p>
                    <p class="post-meta m-0">
                        Created by
                        <partial name="_CreatorUserLink" model="item"></partial>
                        on @item.CreatedAt
                    </p>

                    <p class="post-meta m-0">
                        Last updated by
                        <partial name="_UpdatorUserLink" model="item"></partial>
                        on @item.CreatedAt
                        @if (authorizerService.HasPermission(ModuleAction.UpdateBlog))
                        {
                            <a asp-controller="@nameof(UserController)[..^10]"
                               asp-action="@nameof(UserController.Edit)"
                               asp-route-id="@item.Id"
                               class="link-warning">
                                Edit
                            </a>
                        }

                        @if (authorizerService.HasPermission(ModuleAction.DeleteBlog))
                        {
                            <a asp-controller="@nameof(UserController)[..^10]"
                               asp-action="@nameof(UserController.Delete)"
                               asp-route-id="@item.Id"
                               class="link-danger">
                                Delete
                            </a>
                        }
                    </p>
                    <p class="post-meta m-0">@item.About</p>

                </div>
                <hr class="my-4">
            }

            @{
                await Html.RenderPartialAsync("_PagedNavigation", new PageResultViewDto
                {
                    Page = Model.Page,
                    PageSize = Model.PageSize,
                    TotalItem = Model.TotalItem,
                    ControllerName = nameof(UserController)[..^10]
                });
            }

            <!-- End of Real Content-->

        </div>
    </div>
</div>