@using FA.Application.Dtos.AccountDtos
@using WebApp.Controllers
@model AccountDetailDto

@{
    ViewData["Title"] = "My Account";
}

<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">

                    <h1>@Model.Username</h1>

                    <h2 class="subheading">@Model.Role</h2>

                    <span class="meta mt-1">@Model.Email</span>

                    <span class="meta mt-1">
                        Created by
                        <partial name="_CreatorUserLink" model="Model" />
                        on @Model.CreatedAt
                    </span>

                    <span class="meta mt-1">
                        Last updated by
                        <partial name="_UpdatorUserLink" model="Model" />
                        on @Model.UpdatedAt
                    </span>

                    <span class="meta mt-1">@Model.About</span>

                    <div class="mt-2">
                        <a asp-controller="@nameof(AuthenticationController)[..^10]"
                           asp-action="@nameof(AuthenticationController.UpdateAccount)"
                           class="btn btn-warning">
                            Edit
                        </a>

                        <a asp-controller="@nameof(AuthenticationController)[..^10]"
                           asp-action="@nameof(AuthenticationController.Logout)"
                           class="btn btn-danger">
                            Logout
                        </a>
                        <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <!-- Real Content -->
            

            

            <!-- End of Real Content -->

        </div>
    </div>
</div>